<ion-header
  ><ion-toolbar><ion-title>Export PDF</ion-title></ion-toolbar></ion-header
>
<ion-content class="ion-padding">
  <div #invoiceContent>
    <h2>Invoice</h2>
    <p>Date: {{ today }}</p>
    <table border="1" cellpadding="8" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Item</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Web Design</td>
          <td>1</td>
          <td>$500</td>
          <td>$500</td>
        </tr>
        <tr>
          <td>Hosting (1 Year)</td>
          <td>1</td>
          <td>$100</td>
          <td>$100</td>
        </tr>
        <tr>
          <td>Domain Name</td>
          <td>1</td>
          <td>$15</td>
          <td>$15</td>
        </tr>
        <tr>
          <td colspan="3" align="right"><strong>Total</strong></td>
          <td><strong>$615</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ion-button expand="block" (click)="exportPdf()"
    >Export & View PDF</ion-button
  >
</ion-content>
